<html>
<head>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<title>Test</title>
    <script> var user = {
  ACCESS_TOKEN: "",
  USER_ID: ""
};

$(document).ready(function() {
  // console.log("START");
  $.ajaxSetup({ cache: true });
  $.getScript('https://connect.facebook.net/en_US/sdk.js', function(){
    FB.init({
      appId: '139850233436034',
      version: 'v2.7' // or v2.1, v2.2, v2.3, ...
    });
      FB.getLoginStatus(updateStatusCallback);
  });
});

function updateStatusCallback(resp) {
	if(resp.status == "connected") {
	  user.ACCESS_TOKEN = resp.authResponse.accessToken;
	  user.USER_ID = resp.authResponse.userID;
	//   console.log(user.ACCESS_TOKEN);
      $.post("/facebook", user, function(data) {
          console.log(data+" sent");
      });
	 } else {
	  FB.login(function(response) {
	    if (response.authResponse) {
	      user.ACCESS_TOKEN = response.authResponse.accessToken;
	      user.USER_ID = response.authResponse.userID;
          $.post("/facebook", user, function(data) {
              console.log("sent");
          });
        // console.log("AT:"+user.ACCESS_TOKEN+"\nUID:"+user.USER_ID)
        // console.log('Welcome!  Fetching your information.... ');
        // FB.api('/me', function(response) {
        //   console.log('Good to see you, ' + response.name + '.');
        // });
      } else {
        console.log('User cancelled login or did not fully authorize.');
      }
	  }, {scope: 'publish_actions'});
	}
} </script>
</head>
<body>
<h3>Please Wait....</h3>
</body>
</html>
